Melorium/config/
Melorium/options.txt
Melorium/mods/*.disabled
Melorium/mods/.connector
Melorium/mods/sodium-neoforge-0.6.13+mc1.21.1.jar
Melorium/mods/sodium-extra-neoforge-0.6.0+mc1.21.1.jar
Melorium/mods/lithium-neoforge-0.15.0+mc1.21.1.jar
Melorium/mods/iris-neoforge-1.8.12+mc1.21.1.jar
Melorium/mods/ferritecore-7.0.2-neoforge.jar
Melorium/mods/ImmediatelyFast-NeoForge-1.6.6+1.21.1.jar
Melorium/mods/entity_model_features_neoforge_1.21.1-2.4.1.jar
Melorium/mods/entity_texture_features_neoforge_1.21.1-6.2.9.jar
Melorium/mods/Controlling-neoforge-1.21.1-19.0.5.jar
Melorium/mods/iris-flywheel-compat-NeoForge-2.0.4.jar
Melorium/mods/colorwheel-neoforge-0.2.3+mc1.21.1.jar
Melorium/mods/colorwheel_patcher-neoforge-0.2.4+mc1.21.1.jar
Melorium/mods/Jade-1.21.1-NeoForge-15.10.2
Melorium/mods/JadeAddons-1.21.1-NeoForge-6.1.0.jar
Melorium/mods/OverflowingBars-v21.1.1-1.21.1-NeoForge.jar
Melorium/mods/notenoughanimations-neoforge-1.10.1-mc1.21.jar
